*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------------nav bar ----------------------*/
#nav{
    background-color: rgba(36, 36, 37, 0.727);
}
#nav li a:hover{
    border-bottom: 3px blueviolet solid;
    transition: 0.5s;

}

#nav.scrolled{
    background-color: rgba(30, 29, 29, 0.924);
    transition: 1s all;
}
/* --------------------------------------------nav bar end ------------------------*/


/*---------------------------------------------------------services start--------------------------------------*/
#body2{
    background: url('winter.jpg');
}

.touch a{
    background-color: rgba(0, 0, 0, 0.129);
    text-decoration: none;

}

.touch:hover a{
    background-color: rgb(62, 62, 235);
    transition: 1.5s ease-in-out;
 
    color:white;
}



/*------------------------------------------------------------service end----------------------------------------*/


/*-------------------------------------social icon---------------------------------*/

.social a{
    font-size: 30px;
    margin-right: 10px;
    padding: 20px;
    color: #fff;
}
.social a span1:hover{
    background: #3b5999;
    width:50px;
    height:50px;
    border-radius:100px ;
    padding:10px;
    transition: 0.3s;
}
.social a span2:hover{
    background:#00aced;
    width:50px;
    height:50px;
    border-radius:100px ;
    padding:10px;
    transition: 0.3s;
}
.social span3:hover{
    background: rgb(233, 9, 222);
    width:50px;
    height:50px;
    border-radius:100px ;
    padding:10px;
    transition: 0.3s;
}
.social a span4:hover{
    background:#cd201f;
    width:50px;
    height:50px;
    border-radius:100px ;
    padding:10px;
    transition: 0.3s;
}

/*-------------------------------------------social icon end-------------------------------- */


/* ----------------------------------------- login and sign up ---------------------------------*/

.section{
    position: relative;
    height: 100vh;
    width:100%;
background-size: cover;
background-position: center center;
 color:#fff

}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    width: 300px;
    padding: 50px 30px;
    border-radius: 10px;
  
}
.form-container h4{
font-size: 25px;
 text-align: center;
 margin-top: 20px;
 margin-bottom: 2em;

    
}

.input{
    width: 100%;
    display: block;
    padding: 5px;
    color: #222;
    border: none;
    outline: none;
    margin:  1em 0;
    background: transparent;
    border-bottom: 2px solid white;
}
.section input[type="text"], input[type="password"]{

    color: #fff;
}
.btn1{
    background-color: rgba(46, 128, 216, 0.941);
    color: #fff;
    font-size: 20px;
    width: 100%;
    border: none;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
}


.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.link{
    text-align: center;
    margin-top: 10px;
    
}
.link a{
    text-decoration: none;
    color:#fff;
    opacity: .6;
    transition: opacity .3s ease;
    font-size: 17px;

}
.link a:hover{
    opacity: 1; 
}


/*------------------------------------------------------end of login ans sign up --------------------------*/


.wrapper{
    display: flex;
    position: relative;
   
}
.wrapper a{
    color:#fff;
}
.wrapper .nav-link{
    margin: 10px 10px;
}
.wrapper .nav-link:hover{
    background-color: #00aced;
    transition: 1s;
}
.wrapper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #222;
    padding: 30px 0;
}

 .main_content{
    margin-left: 270px;
    width: 100%;
}

#model{
   border:2px solide black;

}

/*_------------------login box------------------------*/ 


/*_------------------text shadow in cursol------------------------*/ 

.text-shadow-h5 {
text-shadow: 3px 3px 3px black;
font-size:25px;
}


/*_------------------text shadow in cursol------------------------*/ 


